{% extends 'base.html' %}

{% block title %} About{% endblock title %}

{% block body %}
<main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Tech-Blog !</h1>
        <p>People from different walks of life are intrigued by the way technology is progressing at a profuse rate, shaping our lives into the digital world!

            With new tech trends being introduced every quarter and information becoming obsolete as technology evolves, it’s now an obligation to stay relevant and learn about the newest technologies, digital industry, social media, and the web in general!
            
            The question is how?
            
            Well, millions of tech enthusiasts, as well as businesses from all sectors, befriend technology blogs that bring the latest news regarding technology updates faster than any other source.
            
            These technology blogs not only embrace high-tech discoveries but also help readers in staying consistently ahead of the curve by determining modern-day tech trends!
            
            Therefore, we have rounded up a list of the 10 best technology blogs, that would bring you the latest information from across the world.
            
            Following these latest technology blogs will give you a steady stream of great ideas regarding technology. Whether it’s the news or information about the latest gadgets in the market, these blogs will bring you everything from the modern tech world!
            
            Let’s dig in!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>
  
  
  
 {% endblock %}